@import url('https://fonts.googleapis.com/css2?family=Mate:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    overflow: hidden;
    max-height: 100%;
    font-family: "Mate", serif;
}

body {
    background-color: rgb(22, 22, 22);
    min-height: 100vh;
}

.banner {
    grid-area: banner;
    top: -20px;
    height: 5vh;
    border: 5px solid black;
    color: rgb(201, 201, 201);
    background-color: rgb(22, 22, 22);
    border-radius: 0px 0px 150px 150px;
    animation: mymove 2s infinite;
    animation-iteration-count: 1;
    z-index: 2;
}

@keyframes mymove {
    0% {
        transform: translateY(-200px);
    }

    100% {
        transform: translateY(0px);
    }
}


h1 {
    font-size: 1.2em;
    letter-spacing: 0.2em;
}

h3 {
    letter-spacing: 0.2em;
    display: inline-block;
}

h5:hover {
    cursor: pointer;
}

h5 {
    display: flex;
    justify-content: center;
    font-size: 32px;
}

li {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1.5em;
    font-size: 24px;
    padding: 5px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
  }

  span:hover,
  li:hover {
    cursor: pointer;
    background-color: rgb(37, 37, 37);
  }

  #listContainer > span {
    float: right;
  }

  #listContainer {
    overflow: scroll;
    width: 100%;
    height: 18em;
    overflow-x: hidden;
    scrollbar-color: black rgb(36, 36, 36);
  }

/* Tab Section Styles */

.tabs {
    grid-area: tabs;
    height: 83.5vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.tabs > .tab {
    border: 5px solid black;
    border-radius: 0px 50px 50px 0px;
    font-size: 1em;
    width: 70%;
    height: 15%;
    background-color: rgb(22, 22, 22);
    color: rgb(201, 201, 201);
    letter-spacing: 0.1em;
    z-index: 2;
    text-align: center;
}

.tabs > .selected {
    width: 80%;
    background-color: rgb(56, 56, 56);
    color: black;
    animation: run 0.1s linear;
    font-weight: bold;
}

@keyframes run {
    0% {
        width: 70%
    }
    100% {
        width: 80%;
    }
}

.tab:hover {
    background-color: rgb(72, 72, 72);
    color: black;
}

.hide {
    visibility: hidden;
}

/* Main Section Styles */

.hidden {
    visibility: hidden;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-area: main;
    position: relative;
}

.main > .container {
    display: flex;
    flex-direction: column;
    min-height: 95%;
    max-height: 95%;
    width: 90%;
    border: 5px solid black;
    background-color: rgb(22, 22, 22);
    color: rgb(201, 201, 201);
    border-radius: 1em;
    position: absolute;
}

.container > button {
    background-color: rgb(22, 22, 22);
    color: rgb(201, 201, 201);
    letter-spacing: 0.2em;
    height: 3em;
}

.container > button:hover {
    color: white;
    background-color: rgb(56, 56, 56);
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }/*# sourceMappingURL=index.css.map */

  .noSelect:hover {
    cursor: pointer;
  }

.grid-container {
    display: grid;
    grid-template-areas:
    'banner banner banner banner banner banner banner'
    'tabs main main main main main main';
    background-color: rgb(30, 30, 30);
}

.grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
